@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  background: rgb(105, 105, 255);
  align-items: center;
  justify-content: center;
}

.wrapper {
  position: relative;
  max-width: 1000px;
  background: #fff;
  margin: 0px 20px;
  overflow-x: hidden;
  padding: 35px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.wrapper .icon {
  position: absolute;
  height: 100%;
  background: linear-gradient(90deg, white 70%, transparent);
  width: 70px;
  top: 0;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.wrapper .icon:last-child {
  background: linear-gradient(-90deg, white 70%, transparent);
}

.wrapper .icon:first-child {
  left: 0px;
}

.wrapper .icon:last-child {
  right: 0px;
  justify-content: flex-end;
}

.wrapper .icon i {
  width: 40px;
  height: 40px;
  background-color: #e2e2e2;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  font-size: 25px;
  cursor: pointer;
  margin: 0 5px;
}

.tags.dragging {
  scroll-behavior: auto;
  cursor: grab;
}

.wrapper .tags {
  display: flex;
  list-style: none;
  gap: 20px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.tags .tag-item {
  background: #f6f6f6;
  padding: 14px 24px;
  border-radius: 50px;
  cursor: pointer;
  border: 1px solid #d9d9d9;
  font-weight: 500;
}

.tags .tag-item.active {
  background-color: #3f4ffd;
  color: #fff;
}

.tags.dragging .tag-item {
  user-select: none;
  pointer-events: none;
}

.tags.dragging {
  scroll-behavior: auto;
  cursor: grabbing;
}
