* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #4a98f7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 400px;
  height: min-content;
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.wrapper h1 {
  font-size: 50px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}

.wrapper .content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.wrapper .content.disable {
  opacity: 60%;
  pointer-events: none;
}

.content .column {
  width: calc(100% / 3 - 5px);
  /* background-color: red; */
  border: 1px solid #000;
  border-radius: 5px;
  padding: 0 10px;
}

.content select {
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  background: none;
  font-size: 16px;
  cursor: pointer;
}

.wrapper button {
  width: 100%;
  margin-top: 10px;
  line-height: 40px;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: #4a98f7;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.wrapper button:hover {
  background-color: #246cc4;
}
